<div class="container container-fluid">
  <div class="jumbotron">
    <h3>Instructions to use:</h3>
      <ul class="list-unstyled">
        <li>You have to login with your google account </li>
        <li>Events should be in your google calendar </li>
        <li>The only events taken are ones from the main calendar (with the same name as your email address)</li>
        <li>An avent should have set: </li>
        <ul>
          <li>
            a start and end date;
          </li>
          <li>
            a preset location;
          </li>
          <li>
            events better not overlap (not exactly necessary)
          </li>
        </ul>
        <li>Should be all set. <a href="/calendar"><u>Go to your calendar!</u></a></li>
      </ul>
      <div align="center"> <a href="/calendar" class="btn btn-info">My calendar</a></div>
  </div>
</div>



