<div class="container">
    <h3>Events</h3>
    <div class="container">

    <div class="scolumn">
      <h3><%= link_to "Update calendar", getcalendar_path %></h3>
      <table class="table">
        <tbody>
          <% current_user.events.order(:start).each do |e| %>
            <tr>
              <td><%= e.name %></td> <td>e.start</td> <td>e.end</td>
              
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
