<div class="authform">
  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
  <h3 align="center">Sign in</h3>
  <%= devise_error_messages! %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
    
    <a href=<%=omniauth_authorize_path(resource_name, provider)%> 
      class="btn btn-block btn-social btn-google">
      <span class="fa fa-google"></span> Sign in with Google
    </a>
    
    
  <% end -%>
  <% end -%>
  <% end %>
</div>
